{% extends "base.html" %}
{% load static %}
  
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %}


{% block content %}
<div class="home-cover">
  <div class="row  container h-100">
        <div class="col-7 col-md-6 my-auto ml-5">
            <h1 class="display-4 logo-font text-black">Books Store</h1>
            <h3 class="text-black">HAPPINESS IS</h3>
            <h5 class="text-black"> Losing yourself in a good book.</h5>
            <div class="my-5">
                <h4>
                <a href="" class="shop-button btn btn-lg rounded-pill text-uppercase py-3 ">Shop our products</a>
                </h4>
            </div>
        </div>
  </div>
</div>

<!-- Books store shop info container -->
<div class="bg-shop-info text-white">
    <div class="main-container col-lg-11 mx-auto pt-4 pb-4 ">
        <h4 class="mb-4 text-center decorated col-11 col-md-4 mx-auto"><span>My Books Shop</span></h4>
        <div class="pt-lg-3">
            <div class="col-12 mb-4 mb-lg-3">
                <div class="col-12 col-md-9 col-lg-12 col-xl-10 p-0 mx-auto">
                    <div class="d-lg-flex justify-content-between text-center mx-auto home-container">
                        <div class="col-12 col-md-10 col-lg-5 p-0 mb-3 mx-auto m-lg-0">
                        <img class="img-fluid img-shadow" src="media/books-img.jpg" alt="Wine shop image">
                        </div>
                        <div class="col-12 col-lg-6 p-0 text-left">
                            <p>At My Books Store, we distribute books. We have a wide and diverse sections of books. Our categories include Adventure stories ,Classics, Crime. </p>
                            <p>We invite you to register and shop on our online site to take advantage of our discounts. We also welcome you to our books store for a unique books experience.



                                
                            </p>
                            <div class="col-12 p-0 d-flex flex-column flex-sm-row justify-content-between align-items-md-end">
                                <p><i class="fas fa-map-marker-alt"></i> Location:</p>
                                <p><em></em> </p>
                            </div>
                            <div class="col-12 p-0 d-flex flex-column flex-sm-row  justify-content-between align-items-md-end">
                                <p><i class="fas fa-address-book"></i> Contact Email:</p>
                                <p><em></em> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>    
</div>
{% endblock %}
