{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'static/css/base.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="col text-center mt-3">
            <h2 class="logo-font text-black">FAQ's</h2>
            <hr class="w-50 mb-1">
            <div class="faqslist">
                {% for faq in faqs %}
                <h2>{{ faq.question }}</h2>
                <p>{{ faq.answer }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock%}