<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="active logo-font font-weight-bold nav-link text-light mr-5 navbar-link" href="{% url 'home' %}" id="Home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5 text-light navbar-link" href="{% url 'products' %}" id="all-products-link">
                All Products
            </a>
           
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-light navbar-link" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books</a>
                 <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}?category=Action and Adventure" class="dropdown-item">Action and Adventure</a>
                    <a href="{% url 'products' %}?category=Classics" class="dropdown-item ">Classics</a>
                    <a href="{% url 'products' %}?category=Comic Book or Graphic Novel" class="dropdown-item ">Comic Book or Graphic Novel</a>
                    <a href="{% url 'products' %}?category=Detective and Mystery" class="dropdown-item">Detective and Mystery</a>
                    <a href="{% url 'products' %}?category=Fantasy" class="dropdown-item">Fantasy</a>
                    <a href="{% url 'products' %}?category=Historical Fiction" class="dropdown-item">Historical Fiction</a>
                    <a href="{% url 'products' %}?category=Horror" class="dropdown-item">Horror</a>
                    <a href="{% url 'products' %}?category=Literary Fiction" class="dropdown-item">Literary Fiction</a>
                    <a href="{% url 'products' %}?category=Romance" class="dropdown-item">Romance</a>
                    <a href="{% url 'products' %}?category=Suspense and Thrillers" class="dropdown-item">Suspense and Thrillers</a>
                </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-light navbar-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=New Arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=New Arrivals" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-light navbar-link " href="{% url 'contact_us' %}" id="contactus">
                Contactus
            </a>
        </li>
        
    </ul>
</div>