{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h2 class="logo-font mb-4 mt-2 text-center">{% trans "Sign In" %}</h2>
<hr>

<div class="col mx-auto pt-3 pb-3 mt-2 mt-lg-4 mb-4 bg-white">
    <div class="d-md-flex pt-lg-3">
        
        <div class="col-12 col-md-6 mb-4 mb-lg-0">
            <div class="col-md-10 p-0 mx-auto">
                <h5 class="text-center font-weight-bold mb-3">Existing Customer</h5>

                {% get_providers as socialaccount_providers %}

                    {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">

                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>

                        <div class="login-or">{% trans 'or' %}</div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
                    
            

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Home</a>
                    <button class="primaryAction btn btn-outline-black rounded-0" type="submit">{% trans "Sign In" %}</button>
                    <p class="mt-2">
                      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </p>
                </form>
            
            </div>
        </div>
        <div class="d-flex text-black" style="height: 200px;">
            <div class="vr"></div>
        </div>
        <div class="col col-md-6 text-left">
            <div class="col-md-10 p-0 mx-auto">
            <h5 class="text-center font-weight-bold mb-3">New Customer</h5>
            <p>{% blocktrans %}Are you a new customer? <br class="d-lg-none">
                Then please <a class="auth-link pulse" href="{{ signup_url }}">register</a> first.{% endblocktrans %}
            </p>
            <p>Our website offers a better experience for users. The main benefits are:</p>
            <ul>
                <li><b>Order history</b>;</li>
                <li><b>Faster checkout</b> by adding your delivery details to your profile;</li>
                <li><b>Wishlist</b> with all of your favourite products;</li>
            </ul>
            </div>
        
        </div>
    </div>
</div>

{% endblock %}
